<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>block_frosting.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>block_multi_frosting1.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>block_multi_frosting2.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>block_multi_frosting3.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>block_multi_frosting4.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>block_multi_frosting5.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>blue.png</key>
		<dict>
			<key>x</key>
			<integer>619</integer>
			<key>y</key>
			<integer>554</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>101</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>blue_chameleon.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>blue_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>blue_striped_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>blue_wrapped_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>blue_wrapper.png</key>
		<dict>
			<key>x</key>
			<integer>742</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>107</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>107</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>bomb.png</key>
		<dict>
			<key>x</key>
			<integer>94</integer>
			<key>y</key>
			<integer>537</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>101</integer>
		</dict>
		<key>cake_bomb_bl1.png</key>
		<dict>
			<key>x</key>
			<integer>930</integer>
			<key>y</key>
			<integer>877</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>cake_bomb_bl2.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>cake_bomb_bl3.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>cake_bomb_br1.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>cake_bomb_br2.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>cake_bomb_br3.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>cake_bomb_tl1.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>cake_bomb_tl2.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>cake_bomb_tl3.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>cake_bomb_tr1.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>cake_bomb_tr2.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>cake_bomb_tr3.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>candy_canon_full.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>candy_canon_half.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>candy_canon_twist.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>canon_bomb.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>canon_bomb_half.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>canon_ingredient.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>canon_ingredient_half.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>canon_licorice.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>canon_licorice_half.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>cherry.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>536</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>104</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>chocolate.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>chocolate_spawn_1.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>chocolate_spawn_2.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>chocolate_spawn_3.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>chocolate_spawn_4.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>chocolate_spawn_5.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>chocolate_spawn_base.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>chocolate_spawn_blades.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>coconut_wheel.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>fish_colorbomb.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>green.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>644</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>green_chameleon.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>green_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>green_striped_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>green_wrapped_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>green_wrapper.png</key>
		<dict>
			<key>x</key>
			<integer>655</integer>
			<key>y</key>
			<integer>218</integer>
			<key>width</key>
			<integer>107</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>107</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>hazelnut.png</key>
		<dict>
			<key>x</key>
			<integer>566</integer>
			<key>y</key>
			<integer>841</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<integer>3</integer>
			<key>offsetY</key>
			<integer>4</integer>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>licorice.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>licorice_square.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>lucky_blue.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>lucky_green.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>lucky_orange.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>lucky_purple.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>lucky_red.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>lucky_yellow.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>marmalade_blocker.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>mystery_blue.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>mystery_green.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>mystery_orange.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>mystery_purple.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>mystery_red.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>mystery_yellow.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>orange.png</key>
		<dict>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>838</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>orange_chameleon.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>orange_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>orange_striped_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>orange_wrapped_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>orange_wrapper.png</key>
		<dict>
			<key>x</key>
			<integer>510</integer>
			<key>y</key>
			<integer>554</integer>
			<key>width</key>
			<integer>107</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>107</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>pepper_candy_blue.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>pepper_candy_green.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>pepper_candy_orange.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>pepper_candy_purple.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>pepper_candy_red.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>pepper_candy_yellow.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>playmodeicon_drop.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>polka_blue_horisontal.png</key>
		<dict>
			<key>x</key>
			<integer>302</integer>
			<key>y</key>
			<integer>635</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>polka_blue_vertical.png</key>
		<dict>
			<key>x</key>
			<integer>198</integer>
			<key>y</key>
			<integer>638</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>polka_green_horisontal.png</key>
		<dict>
			<key>x</key>
			<integer>297</integer>
			<key>y</key>
			<integer>737</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>polka_green_vertical.png</key>
		<dict>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>739</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>polka_orange_horisontal.png</key>
		<dict>
			<key>x</key>
			<integer>390</integer>
			<key>y</key>
			<integer>747</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>polka_orange_vertical.png</key>
		<dict>
			<key>x</key>
			<integer>587</integer>
			<key>y</key>
			<integer>742</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>polka_purple_horisontal.png</key>
		<dict>
			<key>x</key>
			<integer>94</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>polka_purple_vertical.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>549</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>polka_red_horisontal.png</key>
		<dict>
			<key>x</key>
			<integer>198</integer>
			<key>y</key>
			<integer>737</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>97</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>polka_red_vertical.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>648</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>97</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>polka_yellow_horisontal.png</key>
		<dict>
			<key>x</key>
			<integer>691</integer>
			<key>y</key>
			<integer>653</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>polka_yellow_vertical.png</key>
		<dict>
			<key>x</key>
			<integer>840</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>purple.png</key>
		<dict>
			<key>x</key>
			<integer>541</integer>
			<key>y</key>
			<integer>455</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>purple_chameleon.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>purple_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>purple_striped_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>purple_wrapped_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>purple_wrapper.png</key>
		<dict>
			<key>x</key>
			<integer>544</integer>
			<key>y</key>
			<integer>323</integer>
			<key>width</key>
			<integer>107</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>107</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>red.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>743</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>red_chameleon.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>red_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>red_striped_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>red_wrapped_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>red_wrapper.png</key>
		<dict>
			<key>x</key>
			<integer>432</integer>
			<key>y</key>
			<integer>455</integer>
			<key>width</key>
			<integer>107</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>107</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>select_highlight.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>yellow.png</key>
		<dict>
			<key>x</key>
			<integer>505</integer>
			<key>y</key>
			<integer>648</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>yellow_chameleon.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>yellow_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>yellow_striped_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>yellow_wrapped_fish.png</key>
		<dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>139</integer>
		</dict>
		<key>yellow_wrapper.png</key>
		<dict>
			<key>x</key>
			<integer>626</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>107</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>107</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
	</dict>
</dict>
</plist>
